# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
database-debug.log
ui-debug.log
pubsub-debug.log

# Node
node_modules/
npm-debug.log
coverage/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
*~
