NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=tilburg-interactive-map-5710f.firebaseapp.com
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://tilburg-interactive-map-5710f-default-rtdb.europe-west1.firebasedatabase.app
NEXT_PUBLIC_FIREBASE_PROJECT_ID=tilburg-interactive-map-5710f
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=tilburg-interactive-map-5710f.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=451533571295
NEXT_PUBLIC_FIREBASE_APP_ID=1:451533571295:web:e3efd663e42e8df0e7d56a
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
